# Ignore node_modules directory
node_modules/

# Ignore .git directory
.git/

# Ignore Dockerfile, .dockerignore, and .env
Dockerfile
.dockerignore

# Ignore logs
logs/

# Ignore IDE config files
.vscode/
.idea/

# Ignore build artifacts
dist/
build/

